@font-face {
  font-family: 'Urbanist';
  src: url('/assets/fonts/urbanist/static/Urbanist-Regular.ttf') format('ttf'),
    url('/assets/fonts/urbanist/static/Urbanist-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}